.jobs-bg {
  background: transparent linear-gradient(141deg, #ebf4ff 0%, #e6fffa 100%) 0%
    0% no-repeat padding-box;
}

.rmc-tabs-tab-bar-content .rmc-tabs-tab-bar-tab:nth-last-child(2) {
  border-radius: 0 12px 12px 0;
}

.rmc-tabs-tab-bar-content .rmc-tabs-tab-bar-tab:nth-last-child(4) {
  border-radius: 12px 0 0 12px;
}

.jobs-module {
  .rmc-tabs-tab-bar-wrap {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 40px;
    border-radius: 15px;
    border: 1px #eee solid;
    margin-left: 10px;
    margin-right: 10px;
  }

  .rmc-tabs-tab-bar-tab-active {
    background-color: rgb(129, 230, 217);
    color: white;
  }
  .rmc-tabs-tab-bar-underline {
    display: none;
    position: absolute;
    border: 1px #108ee9 solid;
  }

  .rmc-tabs-tab-bar-top .rmc-tabs-tab-bar-prevpage,
  .rmc-tabs-tab-bar-bottom .rmc-tabs-tab-bar-prevpage {
    pointer-events: none;
    position: absolute;
    top: 0;
    display: block;
    width: 59px;
    height: 100%;
    content: " ";
    z-index: 1;
    left: 0;
    background: linear-gradient(to right, #ffffff, rgba(255, 255, 255, 0));
    margin-left: -10px;
  }

  .rmc-tabs-tab-bar-top .rmc-tabs-tab-bar-nextpage,
  .rmc-tabs-tab-bar-bottom .rmc-tabs-tab-bar-nextpage {
    pointer-events: none;
    position: absolute;
    top: 0;
    display: block;
    width: 59px;
    height: 100%;
    content: " ";
    z-index: 1;
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff);
    margin-right: -10px;
  }
  .rmc-tabs-tab-bar-top {
    border-bottom: 0px;
  }
  .rmc-tabs-tab-bar-bottom {
    border-top: 0px;
  }

  .rmc-tabs-tab-bar-left {
    border-right: 0px;
  }

  .rmc-tabs-tab-bar-right {
    right: auto;
  }
}
