.gray-dot-third {
  position: absolute;
  top: 0px;
  left: -107px;
  width: 304px;
  height: 303px;
  background: #f7fafc 0% 0% no-repeat padding-box;
  border-radius: 50%;
  opacity: 0.5;
}

.gray-dot-third-dark {
  position: absolute;
  top: 0px;
  left: -107px;
  width: 304px;
  height: 303px;
  background: #f7fafc 0% 0% no-repeat padding-box;
  border-radius: 50%;
  opacity: 1;
}
