.nav-header-wrap {
  width: 100%;
  height: 5px;
  background: transparent linear-gradient(91deg, #319795 0%, #3182ce 100%) 0% 0%
    no-repeat padding-box;
}
.nav-header {
  width: 100%;
  height: 67px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 0px 0px 12px 12px;
  opacity: 1;
}

.container {
  display: flex;
  flex-flow: row-reverse;
  height: inherit;
}

.nav-button {
  letter-spacing: 0.84px;
}
