.home-container {
  width: 100%;
  min-height: 640px;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.home-text-block {
  font-size: 75px;
  color: #319795;
  margin-left: 15px;
}

.red-dot {
  position: absolute;
  top: -37px;
  right: -37px;
  width: 168px;
  height: 168px;
  background: #ff0000 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 50%;
  opacity: 1;
}
